@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,100;1,9..144,100..900,100&display=swap");
* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Fraunces", serif;
  font-size: 20px;
}

.Starter {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 24px 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h1 {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
section .arrow-down {
  position: absolute;
  top: 233%;
  transform: translateX(-50%);
  left: 50%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sectionegg {
  width: 100vw;
  height: 400px;
  background-image: url(/images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textegg {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textegg h2 {
  max-width: 320px;
  color: #24303e;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.229px;
}
.textegg p {
  color: #808397;
  text-align: center;
  padding: 24px 24px;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
}
.textegg span {
  color: #24303e;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.textegg .yellow {
  position: relative;
  width: fit-content;
}
.yellow .yellowline {
  position: absolute;
  opacity: 0.35;
  bottom: 0;
  width: 100%;
  height: 7px;
  background-color: yellow;
}

.third {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textcup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textcup h2 {
  max-width: 257px;
  margin-top: 60px;
  color: #24303e;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.229px;
}

.textcup p {
  margin-top: 24px;
  max-width: 320px;
  color: #808397;
  margin-bottom: 32px;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
}

.textcup div {
  position: relative;
  width: fit-content;
  padding-bottom: 32px;
}

.textcup .yellowline {
  position: absolute;
  opacity: 0.55;
  bottom: 0;
  width: 100%;
  height: 7px;
  border-radius: 28px;
  background: #fe7766;
}

.textcup span {
  color: #24303e;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.background {
  width: 100vw;
  height: 400px;
  background-image: url(/images/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundImageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  padding-top: 390px;
}

.graphic-design {
  color: #24554a;
  text-align: center;
  font-family: Fraunces;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

.graphic-design-description {
  width: 327px;
  color: #24554a;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
  padding-top: 27px;
}
.cherryBackgroundImage-div {
  background-image: url(/images/mobile/image-graphic-design.jpg);
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  padding-top: 390px;
}

.Photography {
  color: #24554a;
  text-align: center;
  font-family: Fraunces;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

.ptag {
  width: 327px;
  color: #24554a;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
  padding-top: 27px;
}

.orangebackground {
  background-image: url(/images/mobile/image-photography.jpg);
}

.profiles {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile1 h2 {
  color: #a7aaad;
  text-align: center;
  font-family: Fraunces;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px;
}

.profile1 img {
  margin-top: 55px;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  margin-bottom: 32px;
}

.profile1 p {
  max-width: 327px;
  color: #5b636d;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
  margin-bottom: 32px;
}

.profile1 .name {
  color: #24303e;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.129px;
  margin-bottom: 10px;
}

.profile1 .work {
  max-width: 203px;
  color: #a7aaad;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
}

.profile2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile2 img {
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  margin-bottom: 32px;
}

.profile2 p {
  max-width: 327px;
  color: #5b636d;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
  margin-bottom: 32px;
}

.profile2 .name {
  color: #24303e;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.129px;
  margin-bottom: 10px;
}

.profile2 .work {
  max-width: 203px;
  color: #a7aaad;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
}

.profile3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile3 img {
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  margin-bottom: 32px;
}

.profile3 p {
  max-width: 327px;
  color: #5b636d;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
  margin-bottom: 32px;
}

.profile3 .name {
  color: #24303e;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.129px;
  margin-bottom: 10px;
}

.profile3 .work {
  max-width: 203px;
  color: #a7aaad;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
}
.img4 {
  margin-top: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img4 img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  background: #90d4c6;
}

footer img {
  padding-top: 64px;
  margin-bottom: 45px;
  align-items: center;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 57px;
}

footer li {
  color: #458d7e;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

footer .infos {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

@media (min-width: 768px) {
  .Starter {
    width: 70vw;
  }
}
